body {
  margin: 0;
}
* {
  box-sizing: border-box;
}

body{

   background-color:dimgray;
  font-family: Arial;
		
}


.mainNav{
color:blue;
text-align: left;
padding: 10px;
}

input {
  width: 10%;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}

textarea{
  width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
}

nav,li,a{
   
  float: left;
  display: block;
  color: blue;
  text-align: center;
  padding: 4px 6px;
  text-decoration: none;
}

nav,a:visited{
    color:aliceblue;
}

nav,li,a:hover{
    color:aliceblue;
}

.header,article,nav,div{
	padding:3em;

}
h1{
    color:aliceblue;
}
h2{
    color:aliceblue;
    text-align: center;
}


th, td {
  padding: 0.1px;
    color:aliceblue;

}
th,td{
  text-align: left;
}

.table1{
  background-color:gray;
     padding:50px;
}
.footer{
color:aliceblue;
text-align:center;

}
